#option {
    position: absolute;
    top: 0;
    width: 100vw;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, .2);
    text-align: center;
}

#option.hide {
    display: none;
}

#option .menus {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10px;
}

#option .menus a {
    color: #000000;
    text-decoration: none;
    font-size: 2rem;
}

#option .menus a:hover,
#option .menus a.active {
    color: #ff0000;
}

#option section {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}